@font-face {
	font-family: "Grand9K Pixel Rus";
	src: url("Grand9K_Pixel_Rus.ttf") format("truetype");
}

@font-face {
	font-family: "Pix Cyrillic";
	src: url("PixCyrillic.ttf") format("truetype");
}
